
main{
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}
mat-card, app-photos{
  margin: auto;
  width: 35%;
  display: block;
  margin-top: 2rem;
  padding: 15px;
}
mat-card img{
  width: 60%;
}
mat-card button{
  display: block;
  width:100%;
}
mat-form-field{
  width: 100%;
}
